.fleft{float:left}
/* li a{ position: relative; display: block;height: 90px; *height: 70px; padding: 20px 10px 0 10px;}  */
/* a.focus{ background-color: #F5F4EB; border-bottom: 8px solid #F59201; *height: 62px;  } */
span.send-info{ display: block; font-size: 18px; margin: 6px 0 5px 55px; *overflow: hidden;text-overflow : ellipsis;white-space : nowrap;}
/* a.focus span.applicationTitle { color: #000000; } */
/* a:hover span.applicationTitle { color: #000000; }color: #999999;font-size: 12px;}	 */
a span.sendPic{ display: block; width: 50px; }
a span.applicationTitle{ color: #993300; margin-bottom: 6px; line-height: 20px;}
a span.applicationInfo { color: #999999;font-size: 12px;} 